#logo {
    width: 128px;
    height: 128px;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.btn-primary:hover, .btn-outline-primary:hover {
    --bs-btn-hover-bg: #0062A1;
}
.btn-primary {
    --bs-btn-bg: #177bba;
    --bs-btn-border-color: #177bba;
}
.btn-outline-primary {
    --bs-btn-color: #177bba;
    --bs-btn-border-color: #177bba;
}
